/* navigation trigger styles */
.nav-toggle {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	display: block;
	position: fixed;
	top: -120px;
	right: -120px;
	z-index: 999;
	cursor: pointer;
	height: 200px;
	width: 200px;
	transform: rotate(-45deg);
	}
.nav-toggle:focus {
	outline: none;
	}
.nav-toggle span {
	left: 0;
	margin-left: 15px;
	margin-top: 0;
	top: 50%;
	transform: rotate(45deg);
	}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
	content: '';
	position: absolute;
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 1px;
	background: #fff;
	cursor: pointer;
	}
.nav-toggle span:before {
	top: -8px;
	}
.nav-toggle span:after {
	bottom: -8px
	}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	}
.nav-toggle.active span {
	background-color: transparent
	}
.nav-toggle.active span:before, .nav-toggle.active span:after {
	top: 0
	}
.nav-toggle.active span:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}
.nav-toggle.active span:after {
	top: 10px;
	-webkit-transform: translateY(-10px) rotate(-45deg);
	-ms-transform: translateY(-10px) rotate(-45deg);
	transform: translateY(-10px) rotate(-45deg);
	}
.navicon {
	position: relative;
	height: 26px;
	}
.navicon p {
	margin: 1px 50px 0 0
	}
.navicon-fixed {
	position: fixed;
	top: 59px;
	right: 143px;
	}

/* overlay navigation style */
.overlay-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 998;
	}

.overlay-nav nav {
	padding: 10px 0;
	position: relative;
	top: 0;
	height: auto;
	font-size: 54px;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	margin: 10% auto;
	text-align: center;
	width: 480px;
	}
.overlay-nav ul li a {
	display: block;
	padding: 15px 30px;
	color: #ffffff;
	opacity: 0.7;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 32px;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	}
.overlay-nav ul li a:hover, .overlay-nav ul li a:focus {
	border: 0;
	color: #ef3f3d;
	text-decoration: none;
	}

/* Effects */
.overlay-boxify {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	}
.overlay-boxify.open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	}
.overlay-boxify nav ul li {
	opacity: 0;
	-webkit-transform: translate3d(0, -80px, 0);
	transform: translate3d(0, -80px, 0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	}
.overlay-boxify.open nav ul li:first-child {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	}
.overlay-boxify.open nav ul li:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	}
.overlay-boxify.open nav ul li:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	}
.overlay-boxify.open nav ul li:nth-child(4) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	}
.overlay-boxify.open nav ul li:nth-child(5) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
	}
.overlay-boxify.open nav ul li {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}